<div class="container m-3">
  <form
    class="j w-full max-w-xs lg:max-w-sm m-auto"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <div class="flex items-center border-b border-teal-500 py-2">
      <input
        class="appearance-none bg-transparent border-none text-xl w-full text-teal-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
        type="text"
        formControlName="description"
        placeholder="Ingresa una tarea..."
        aria-label="Full name"
      />
      <button
        class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded-full"
        type="submit"
        [disabled]="!form.valid"
      >
        Guardar
      </button>
    </div>
  </form>
  <div class="w-full lg:max-w-md max-w-xs mx-auto my-3">
    <h2 class="font-semibold text-xm lg:text-xl m-1">Tareas pendientes</h2>
    <hr />
    <ul>
      @for(todo of toDoList; track todo.id){ @if(!todo.completed){
      <app-to-do-item
        (checkEvent)="checkTodo($event)"
        (deleteEvent)="deleteTodo($event)"
        [toDo]="todo"
      />
      } }
    </ul>
    <h2 class="font-semibold text-xm lg:text-xl m-1">Tareas completadas</h2>
    <hr />

    <ul>
      @for(todo of toDoList; track todo.id){ @if(todo.completed){
      <app-to-do-item
        (checkEvent)="checkTodo($event)"
        (deleteEvent)="deleteTodo($event)"
        [toDo]="todo"
      />
      } }
    </ul>
  </div>
</div>
